<div class="container-md">
{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.content) }}
    {{form_row(form.imageFile)}}
{{ form_end(form) }}
</div>