{% extends 'base.html.twig' %}

{% block title %}Nos Articles{% endblock %}

{% block body %}

<div class="container-md">
<h3 id="Titre" class="card-title"><strong>Nos Articles</strong></h3><br><br>
<div  class="row row-cols-1 row-cols-md-3 g-4 d-flex align-content-around flex-wrap">
{% for article in articles %}
  <div class="col">
    <div class="card  h-100" >
      {% if article.imageFile is empty  %}
      <img src="{{asset('imgblog/exemple.jpg')}}" class="card-img-top" alt="...">
      {% else %}
      <img src="{{ vich_uploader_asset(article, 'imageFile') }}" class="card-img-top" alt="...">
      {% endif %}
      <div class="card-body">
        <h4 class="card-title">{{ article.name }}</h4>
        <p class="card-text"><i>Ecrit par {{ article.getUserId.email}}</i></p>
        <p class="card-text">{{ article.description }}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Mis à jour  :{{ article.getUpdatedAt()|date("d/m/Y H:i") }} </small>
        <a href="{{ path('app_article_content', {'id': article.id}) }}">Lire</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>
</div>

{% endblock %}
